.Guardar{
    margin-left: 1rem; /* Espacio entre los botones */
  font-size: 1.2rem; /* Tamaño de fuente más grande */
  width: 10rem;
}

.Cerrar{
    margin-left: 1rem; /* Espacio entre los botones */
  font-size: 1.2rem; /* Tamaño de fuente más grande */
  width: 10rem;
}