<<h1>Pedidos Pendientes</h1>
<p-table
  #TblPedidoListar
  [value]="pedidoss"
  [paginator]="true"
  [rows]="5"
  [tableStyle]="{ 'min-width': '50rem' }"
  [globalFilterFields]="['id', 'nombre', 'apellidos', 'fecha', 'menu', 'cantidad', 'total']"
  [rowsPerPageOptions]="[5, 10, 20]"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="idcliente">idcliente <p-sortIcon field="idcliente" /></th>
      <th pSortableColumn="nombrecliente">Nombre Cliente<p-sortIcon field="nombrecliente" /></th>
      <th pSortableColumn="menu">menu <p-sortIcon field="menu" /></th>
      <th pSortableColumn="fechaentrega">Fecha Entrega <p-sortIcon field="fechaentrega" /></th>
      <th pSortableColumn="direccion">direccion <p-sortIcon field="direccion" /></th>
      <th pSortableColumn="preciounitario">precio unitario <p-sortIcon field="preciounitario" /></th>
      <th pSortableColumn="cantidad">cantidad <p-sortIcon field="cantidad" /></th>
      <th pSortableColumn="total">total <p-sortIcon field="total" /></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pedido>
    <tr>
      <td>{{ pedido.idcliente }}</td>
      <td>{{ pedido.nombrecliente }}</td>
      <td>{{ pedido.menu }}</td>
      <td>{{ pedido.fechaentrega }}</td>
      <td>{{ pedido.direccion }}</td>
      <td>{{ pedido.preciounitario }}</td>
      <td>{{ pedido.cantidad }}</td>
      <td>{{ pedido.total }}</td>
      <td>
        <p-button (onClick)="onClickVerPedido(pedido)" class="p-button-rounded1" icon="pi pi-eye"  severity="info"></p-button>
        <p-button (onClick)="onClickEditarPedido(pedido)" class="p-button-rounded2" icon="pi pi-pencil"  severity="warning"></p-button>
        <p-button class="p-button-rounded3" icon="pi pi-trash"  severity="danger"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
