<!-- listar-pedidos-enviados.component.html -->
<div class="container">
    <div class="form-container">
        <div class="pl-5 pr-5">
            <div class="grid">
                <div class="col-12 lg:col-6 mt-4">
                    <p-floatLabel>
                        <input [disabled]="isModoVer()" class="w-full" pInputText id="codigo" [(ngModel)]="pedido.id" />
                        <label for="codigo">Numero Pedido</label>
                    </p-floatLabel>
                </div>  
                <div class="col-12 lg:col-6 mt-4">
                    <p-floatLabel>
                        <input [disabled]="isModoVer()" class="w-full" pInputText id="nombre" [(ngModel)]="pedido.nombre" />
                        <label for="nombre">Nombre</label>
                    </p-floatLabel>
                </div>
            </div>
            
            <div class="grid">
                <div class="col-12 lg:col-6 mt-4">
                    <p-floatLabel>
                        <input [disabled]="isModoVer()" class="w-full" pInputText id="apellidos" [(ngModel)]="pedido.apellidos" />
                        <label for="apellidos">Apellidos</label>
                    </p-floatLabel>
                </div>
                <div class="col-12 lg:col-6 mt-4">
                    <p-floatLabel>
                        <input [disabled]="isModoVer()" class="w-full" pInputText id="fecha" [(ngModel)]="pedido.fecha" />
                        <label for="fecha">Fecha</label>
                    </p-floatLabel>
                </div>
            </div>

            <div class="grid">
                <div class="col-12 lg:col-6 mt-4">
                    <p-floatLabel>
                        <input [disabled]="isModoVer()" class="w-full" pInputText id="menu" [(ngModel)]="pedido.menu" />
                        <label for="menu">Menú</label>
                    </p-floatLabel>
                </div>

                <div class="col-12 lg:col-6 mt-4">
                    <p-floatLabel>
                        <input [disabled]="isModoVer()" class="w-full" pInputText id="cantidad" [(ngModel)]="pedido.cantidad" />
                        <label for="cantidad">Cantidad</label>
                    </p-floatLabel>
                </div>
                
                <div class="col-12 lg:col-6 mt-4">
                    <p-floatLabel>
                        <input [disabled]="isModoVer()" class="w-full" pInputText id="total" [(ngModel)]="pedido.total" />
                        <label for="total">Total</label>
                    </p-floatLabel>
                </div>
                
            </div>
        </div>
    </div>
</div>






