<!-- listar-pedidos-enviados.component.html -->
<div class="container">
    <div class="form-container">
        <div class="pl-5 pr-5">
            <div class="grid">
                <div class="col-12 lg:col-6 mt-4">
                    <p-floatLabel>
                        <input [disabled]="isModoVer()" class="w-full" pInputText id="codigo" [(ngModel)]="pedido.id" />
                        <label for="codigo">idcliente</label>
                    </p-floatLabel>
                </div>  
                <div class="col-12 lg:col-6 mt-4">
                    <p-floatLabel>
                        <input [disabled]="isModoVer()" class="w-full" pInputText id="nombre" [(ngModel)]="pedido.nombre" />
                        <label for="nombre">nombre cliente</label>
                    </p-floatLabel>
                </div>
            </div>
            
            <div class="grid">
                <div class="col-12 lg:col-6 mt-4">
                    <p-floatLabel>
                        <input [disabled]="isModoVer()" class="w-full" pInputText id="apellidos" [(ngModel)]="pedido.apellidos" />
                        <label for="apellidos">menu</label>
                    </p-floatLabel>
                </div>
                <div class="col-12 lg:col-6 mt-4">
                    <p-floatLabel>
                        <input [disabled]="isModoVer()" class="w-full" pInputText id="fecha" [(ngModel)]="pedido.fecha" />
                        <label for="fecha">Fecha Envio</label>
                    </p-floatLabel>
                </div>
            </div>

            <div class="grid">
                <div class="col-12 lg:col-6 mt-4">
                    <p-floatLabel>
                        <input [disabled]="isModoVer()" class="w-full" pInputText id="menu" [(ngModel)]="pedido.menu" />
                        <label for="menu">direccion</label>
                    </p-floatLabel>
                </div>

                <div class="col-12 lg:col-6 mt-4">
                    <p-floatLabel>
                        <input [disabled]="isModoVer()" class="w-full" pInputText id="cantidad" [(ngModel)]="pedido.cantidad" />
                        <label for="cantidad">preciounitario</label>
                    </p-floatLabel>
                </div>
                
                <div class="col-12 lg:col-6 mt-4">
                    <p-floatLabel>
                        <input [disabled]="isModoVer()" class="w-full" pInputText id="total" [(ngModel)]="pedido.total" />
                        <label for="total">cantidad</label>
                    </p-floatLabel>
                </div>
                <div class="col-12 lg:col-6 mt-4">
                    <p-floatLabel>
                        <input [disabled]="isModoVer()" class="w-full" pInputText id="total" [(ngModel)]="pedido.total" />
                        <label for="total">total</label>
                    </p-floatLabel>
                </div>
            </div>
        </div>
    </div>
</div>






