<p-table 

#TblPedidoListar
    [value]="pedidosE"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [globalFilterFields]="['id', 'nombre', 'apellids', 'fecha','menu','cantidad','total']"
    [rowsPerPageOptions]="[5, 10, 20]"

>
<ng-template pTemplate="caption">
  <div class="pedido-header">
    <p-button (onClick)="onClickCrearPedido()" label="Crear" icon="pi pi-plus" class="crear-button"></p-button>
    <div class="search-input">
      <i class="pi pi-search"></i>
      <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Barra de búsqueda" />
    </div>
  </div>
</ng-template>
<ng-template pTemplate="header">
  <tr>
    <th pSortableColumn="idcliente">idcliente <p-sortIcon field="idcliente" /></th>
    <th pSortableColumn="nombre">nombre <p-sortIcon field="nombre" /></th>
    <th pSortableColumn="menu">menu <p-sortIcon field="menu" /></th>
    <th pSortableColumn="fecha_envio">fecha_envio<p-sortIcon field="fecha_envio" /></th>
    <th pSortableColumn="direccion">direccion <p-sortIcon field="direccion" /></th>
    <th pSortableColumn="preciounitario">precio unitario <p-sortIcon field="preciounitario" /></th>
    <th pSortableColumn="cantidad">cantidad <p-sortIcon field="cantidad" /></th>
    <th pSortableColumn="total">total <p-sortIcon field="total" /></th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-pedido>
  <tr>
    <td class="table-cell">{{ pedido.id }}</td>
    <td class="table-cell">{{ pedido.nombre }}</td>
    <td class="table-cell">{{ pedido.menu }}</td>
    <td class="table-cell">{{ pedido.fecha_envio }}</td>
    <td class="table-cell">{{ pedido.direccion }}</td>
    <td class="table-cell">{{ pedido.precio }}</td>
    <td class="table-cell">{{ pedido.cantidad }}</td>
    <td class="table-cell">{{ pedido.total }}</td>
    <td>
     <div class="action-buttons">
  <p-button  (onClick)="onClickVerPedido(pedido)" class="p-button-rounded1" icon="pi pi-eye" label="Ver"severity="info"  />
  <p-button (onClick)="onClickEditarPedido(pedido)" class="p-button-rounded2" icon="pi pi-pencil" label="Editar"severity="warning" />
  <p-button class="p-button-rounded3" icon="pi pi-trash" label="Eliminar" severity="danger"/>
</div>
    </td>
  </tr>
</ng-template>
</p-table>